@model IEnumerable<AlytaloDemoMVC.Models.Sauna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunanTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNykyLampotila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNykyLampotila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaunaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaunaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaunaID })
        </td>
    </tr>
}

</table>
