@model IEnumerable<AlytaloDemoMVC.Models.Lampo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TalonTavoiteLampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TalonNykyLampo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TalonTavoiteLampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TalonNykyLampo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LampoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LampoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LampoID })
        </td>
    </tr>
}

</table>
